.border {
    border-color: white !important;
    border-radius: 5px;
}

.bg-dark {
    background-color: rgb(20, 20, 20) !important;
}

.text {
    font-size: 20px;
}

button {
    border-radius: 4.5px;
}

hr {
    color: #eee !important;
}

/* Difficulty */
.ez {
    background-color: rgb(107, 255, 102);
    border-color:rgb(69, 177, 65);
}

.normal {
    background-color: rgb(255, 231, 97);
    border-color: rgb(185, 166, 59);
}

.hard {
    background-color: rgb(255, 100, 100);
    border-color: rgb(187, 75, 75);
}

.insane {
    background-color: rgb(197, 97, 255);
    border-color: rgb(109, 55, 141);
}

/* Difficulty hover */
.ez:hover {
    background-color: rgb(77, 255, 71);
    border-color:rgb(69, 177, 65);
}

.normal:hover {
    background-color: rgb(255, 226, 64);
    border-color: rgb(185, 166, 59);
}

.hard:hover {
    background-color: rgb(255, 86, 86);
    border-color: rgb(187, 75, 75);
}

.insane:hover {
    background-color: rgb(193, 85, 255);
    border-color: rgb(109, 55, 141);
}